<!DOCTYPE html>
<html>
<head>
    <title>Register - Restaurant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h2>Create Customer Account</h2>
    <form method="POST" action="/register">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>

        <label>Password:</label>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Register">
    </form>

    {% if msg %}
    <p style="color: red;">{{ msg }}</p>
    {% endif %}

    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>
